*{
  margin: 0;
  padding: 0;
}
form {
  box-shadow: 0px 4px 20px #00000029;
  margin-top: 20px;
  border-radius: 12px;
  background: #FBFBFB 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 14px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
input, select {
  height: 20px;
  width: 80%;
  border: 1px solid #DEDEDE;
  margin-bottom: 10px;
  border-radius: 5px;
  opacity: 1;
  color: #000000;
  padding: 5px;
  font-size: 17px;
  background: #FBFBFB 0% 0% no-repeat padding-box;
}
.button {
  background-color: tomato;
  color: white;
  height: 40px;
  width: 84%;
}
.button:hover{
  box-shadow: 2px 2px 2px rgb(156, 153, 153);
}

select {
  height: 40px;
  width: 84%;
  padding: 5px;
}

small {
  display: block;
  text-align: center;
  color: red;
  font-style: italic;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.nav {
  text-decoration: none;
  display: block;
  text-align: center;
  margin-top: 20px;
  color: blue;
}
@media only screen and (min-width: 768px) {
  form {
    width: 20%;
  }
}


